name: CI

on:
  workflow_dispatch:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

defaults:
  run:
    shell: bash -l {0}


jobs:
  test-unix:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, macos-10.15, macos-11]
        static: [true, false]

    steps:
      - uses: actions/checkout@v2

      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v1

      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: environment-dev.yml
          environment-name: xeus-python

      - name: Make build directory
        run: mkdir build

      - name: Static build option
        if: matrix.static
        run: CMAKE_EXTRA_ARGS="$CMAKE_EXTRA_ARGS -DXPYT_BUILD_SHARED=OFF -DXPYT_USE_SHARED_XEUS_PYTHON=OFF"

      - name: cmake configure
        run: |
          cmake .. \
            -D CMAKE_PREFIX_PATH=$CONDA_PREFIX \
            -D CMAKE_INSTALL_PREFIX=$CONDA_PREFIX \
            -D CMAKE_INSTALL_LIBDIR=lib \
            -D PYTHON_EXECUTABLE=`which python` \
            -D XPYT_DOWNLOAD_GTEST=ON \
            -D CMAKE_C_COMPILER=$CC \
            -D CMAKE_CXX_COMPILER=$CXX \
            ${CMAKE_EXTRA_ARGS}
        working-directory: build

      - name: Install
        run: make -j ${{ steps.cpu-cores.outputs.count }} install
        working-directory: build

      - name: Print version
        run: xpython --version

      # - name: Test xeus-python C++
      #   run: ./test_xeus_python
      #   timeout-minutes: 4
      #   working-directory: build/test

      - name: Test xeus-python Python
        run: pytest . -vvv

  test-win:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019, windows-2022]

    steps:
      - uses: actions/checkout@v2

      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: environment-dev.yml
          environment-name: xeus-python

      - name: Make build directory
        run: mkdir build

      - name: cmake configure
        shell: cmd /C call {0}
        run: |
          micromamba activate xeus-python
          cmake .. ^
            -G "NMake Makefiles" ^
            -DCMAKE_BUILD_TYPE=Release ^
            -DXPYT_DOWNLOAD_GTEST=ON ^
            -DCMAKE_INSTALL_PREFIX="%CONDA_PREFIX%\Library" ^
            -DXEXTRA_JUPYTER_DATA_DIR=%CONDA_PREFIX%\share\jupyter ^
            -DXPYT_BUILD_XPYTHON_EXTENSION=ON ^
            -DXEUS_PYTHONHOME_RELPATH=..\\ ^
            -Dgtest_force_shared_crt=ON ^
            -DCMAKE_CXX_FLAGS=/D_SILENCE_TR1_NAMESPACE_DEPRECATION_WARNING
        working-directory: build

      - name: build
        shell: cmd /C call {0}
        run: |
          micromamba activate xeus-python
          set CL=/MP
          nmake install
        working-directory: build

      # - name: Test xeus-python C++
      #   shell: cmd /C call {0}
      #   run: |
      #     micromamba activate xeus-python
      #     test_xeus_python
      #   timeout-minutes: 4
      #   working-directory: build/test

      - name: Test xeus-python Python
        shell: cmd /C call {0}
        run: |
          micromamba activate xeus-python
          pytest . -vvv

  test-wasm:

    runs-on: ubuntu

    strategy:
      fail-fast: false
      matrix:
        emsdk_ver: ["3.1.2"]

    steps:
      - uses: actions/checkout@v2

      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v1

      - name: Install mamba
        uses: mamba-org/provision-with-micromamba@main

      - name: Create micromamba wasm env
        run: |
          micromamba create -n xeus-python-wasm \
            --platform=emscripten-32 --yes \
            -c https://repo.mamba.pm/emscripten-forge \
            -c https://repo.mamba.pm/conda-forge \
            pip python ipython pybind11 jedi xtl nlohmann_json pybind11_json numpy xeus xeus-python-shell>=0.3.0

      - name: Setup emsdk (TODO Install from conda-forge when available)
        run: |
          git clone https://github.com/emscripten-core/emsdk.git
          pushd emsdk
          ./emsdk install ${{matrix.emsdk_ver}}
          popd

      - name: Install emboa (TODO Install from conda-forge when available)
        run: |
          micromamba activate xeus-python-wasm
          pip install git+https://github.com/emscripten-forge/emboa

      - name: Build and pack xeus-python
        run: |
          micromamba activate xeus-python-wasm

          pushd emsdk
          ./emsdk activate ${{matrix.emsdk_ver}}
          source emsdk_env.sh
          export FILE_PACKAGER=$(cwd)/upstream/emscripten/tools/file_packager.py
          popd

          export CMAKE_PREFIX_PATH=$CONDA_PREFIX
          export CMAKE_SYSTEM_PREFIX_PATH=$CONDA_PREFIX

          emcmake cmake  \
              -DCMAKE_BUILD_TYPE=Release\
              -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ON \
              -DCMAKE_PROJECT_INCLUDE=overwriteProp.cmake \
              -DXPYT_EMSCRIPTEN_WASM_BUILD=ON \
              ..

          make -j ${{ steps.cpu-cores.outputs.count }}

          emboa pack python core $CONDA_PREFIX --version=3.10

        # TODO Add test with node?
